.albumCard {
  position: relative;

  display: grid;
  grid-template-columns: 35% 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: var(--padding-sm);

  width: 100%;
  height: fit-content;

  padding: var(--padding-sm);

  border-radius: var(--radius-md);
  background-color: var(--color-surface-alt);
}

.imageContainer {
  grid-row-start: 1;
  grid-row-end: 3;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  width: 100%;
  /* aspect-ratio: 5 / 3; */
  aspect-ratio: 1 / 1;

  border-radius: var(--radius-md);

  background-color: var(--color-surface-alt2);
}
.imageContainer img {
  height: 100%;
  object-fit: cover;
}

.albumName {
  align-self: end;
  font-size: 1rem;
}

/* overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: end;

  padding: var(--padding-sm);

  height: 100%;
  width: 100%;

  animation: fadeIn 0.15s ease;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.deleteBtn {
  padding: 0;
  background-color: transparent;
  box-shadow: none;

  height: max-content;
  width: max-content;
}
