.albumSection {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: -1;

  gap: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.albums {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--padding-md);
}
