.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-md);

  height: calc(100vh - 2 * var(--padding-md));
  width: 150px;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  height: 3rem;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brandTitle {
  margin-top: auto;
  font-weight: bold;
}
